{% extends "main/profile_base.html" %}

{% block title %}Flask - Portal Site Check Old Password{% endblock %}

{% block contents %}
  <div class="m-5">
    <div class="container col-sm-6">
      <form method="post" onsubmit="return checkPassword();">
        <div class="row">
          <div class="bg-secondary col-sm-4 text-center">
            <h4 class="text-light font-weight-bold m-3">비밀번호</h4>
          </div>
          <div class="border bg-light col-sm-8">
            <div class="container">
              <input class="form-control m-3" id="currentPw" name="currentPw" type="password" placeholder="현재 비밀번호를 입력해주세요."/>
            </div>
          </div>
        </div>
        <div class="container mt-3">
          <input type="submit" id="submit" class="btn btn-outline-secondary float-left" disabled>
          <a href="#" class="btn btn-outline-secondary float-right">취소</a>
        </div>
      </form>
    </div>
  </div>
  <script>
    function checkPassword(){
      var currentPassword = document.getElementById('currentPw').value;
      if(currentPassword.replace(/ /gi, "")){
        console.log('true');
        return true;
      }else{
        console.log('false');
        return false;
      }
    }
    $(function(){
      $('#currentPw').on('click', function(){
        document.getElementById('submit').disabled = false;
      });
    });
  </script>
{% endblock %}