{% extends "main/base.html" %}

{% block title %}Flask - PortalStie Login{% endblock %}

{% block contents %}
<header class="container border-bottom">
  <h2 class="text-center mt-2 mb-2 subtitle">Log In</h2>
</header>
<section class="container">
  <form class="container mt-4 col-sm-7" method="post">
    <div class="container input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text fas fa-user-alt input-icon"></span>
      </div>
      <input type="text" class="form-control" name="id" placeholder="아이디">
    </div>
    <div class="container input-group input-group-lg mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text fas fa-unlock-alt input-icon"></span>
      </div>
      <input type="password" class="form-control" name="pw" placeholder="비밀번호">
    </div>
    <div class="container mt-4 text-center">
      <input type="submit" class="container btn btn-primary col-md-5" value="로그인" />
    </div>
  </form>
  <div class="container d-flex justify-content-between col-sm-7 mt-5">
    <div><a href="{{url_for('main.register')}}">회원가입</a></div>
    <div><a href="{{url_for('main.search')}}">비밀번호 찾기</a></div>
  </div>
</section>
{% endblock %}