{% extends "main/base.html" %}

{% block title %}Flask - PortalStie Search Password{% endblock %}

{% block contents %}
  <main class="container">
    <header class="container border-bottom">
      <h2 class="text-center mt-2 mb-2" style="font-size: 2.5rem; color: rgb(18, 210, 226)">비밀번호 찾기</h2>
    </header>
    <section class="container">
      <form class="container mt-4 col-sm-7" method="post">
        <div class="container input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text fas fa-user-alt" style="color: rgb(166, 166, 166); "></span>
          </div>
          <input type="text" name="id" class="form-control" placeholder="아이디">
        </div>
        <div class="container mt-4 text-center">
          <input type="submit" class="container btn btn-primary col-md-5" value="로그인" />
        </div>
      </form>
    </section>
  </main>
{% endblock %}