{% extends "base.html" %}

{% block contents %}
<header class="container border-bottom">
  <h2 class="text-center mt-2 mb-2 subtitle">회원가입</h2>
</header>
<section class="container">
  <form class="container mt-4 col-sm-7">
    <div class="container input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text fas fa-user-alt input-icon"></span>
      </div>
      <input type="text" class="form-control" placeholder="아이디">
      <span class="container">존재하는 아이디 입니다.</span>
    </div>
    <div class="container input-group input-group-lg mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text fas fa-user-alt input-icon"></span>
      </div>
      <input type="text" class="form-control" placeholder="닉네임">
      <span class="container">존재하는 닉네임 입니다.</span>
    </div>
    <div class="container input-group input-group-lg mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text fas fa-unlock-alt input-icon"></span>
      </div>
      <input type="password" class="form-control" placeholder="비밀번호">
    </div>
    <div class="container input-group input-group-lg mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text fas fa-unlock-alt input-icon"></span>
      </div>
      <input type="password" class="form-control" placeholder="비밀번호 확인">
      <span class="container">비밀번호를 입력해주세요.</span>
    </div>
    <div class="container mt-4 text-center">
      <input type="submit" class="container btn btn-primary col-md-5" value="회원가입" />
    </div>
  </form>
</section>
{% endblock %}